body{
font-size:20px;
  width: 1000px;
  height: 1500px;
    background-color: #20194E;
}

#backbars{
    position: absolute;
    display:flex; 
    flex-direction: ; 
  flex-wrap:wrap;
}

.bar1{
    width: 650px;
      height: 30px;
      background: #ffc10a;
    margin: 50px;
    
}
.bar2{
    width: 650px;
      height: 30px;
      background: #ffc10a;
    margin-left: 0px;
    margin-top:100px;
}
.bar3{
    width: 650px;
      height: 30px;
      background: #ffc10a;
     margin-left: 490px;
    margin-top:200px;
}

.bar4{
    width: 650px;
      height: 30px;
      background: #ffc10a;
    margin-top:200px;
}

.bar5{
    width: 650px;
      height: 30px;
      background: #ffc10a;
     margin-left: 380px;
    margin-top:100px;
}
.bar6{
    width: 650px;
      height: 30px;
      background: #ffc10a;
     margin-left: 600px;
    margin-top:200px;
}
.bar7{
    width: 650px;
      height: 30px;
      background: #ffc10a;
     margin-left: 40px;
    margin-top:270px;
}
.bar8{
    width: 650px;
      height: 30px;
      background: #ffc10a;
     margin-left: 90px;
    margin-top:200px;
}
.bar9{
    width: 650px;
      height: 30px;
      background: #ffc10a;
     margin-left: 490px;
    margin-top:200px;
}
.bar10{
    width: 650px;
      height: 30px;
      background: #ffc10a;
     margin-left: 150px;
    margin-top:200px;
}
.bar11{
    width: 650px;
      height: 30px;
      background: #ffc10a;
     margin-left: 500px;
    margin-top:70px;
}
.bar12{
    width: 650px;
      height: 30px;
      background: #ffc10a;
     margin-left: 50px;
    margin-top:250px;
}
.bar13{
    width: 650px;
      height: 30px;
      background: #ffc10a;
     margin-left: 600px;
    margin-top:20px;
}

.bar14{
    width: 650px;
      height: 30px;
      background: #ffc10a;
     margin-left: 490px;
    margin-top:200px;
}

#circles{
  position:fixed;
  display:flex;
  flex-wrap:wrap;
}

.circle1 {
    width:500px;
	height:500px;
	background:#32A7FF;
    border-radius: 50%;
    margin-left: -50px;
    margin-top: -30px;   
}

.circle2 {
    width:300px;
	height:300px;
	background:#32A7FF;
    border-radius: 50%;
    margin-top: 370px;
    margin-left: 200px;
}

.circle3 {
    width:150px;
	height:150px;
	background:#32A7FF;
    border-radius: 50%;
    margin-top: -30px;
    margin-left: 250px;
}

#frontbars{
    position:absolute;
  display:flex;
  flex-wrap:wrap;
}

.front1{
    mix-blend-mode: screen;
    width: 650px;
      height: 30px;
      background: #ffc10a;
    margin-top: 150px;
}

.front2{
    mix-blend-mode: screen;
    width: 650px;
      height: 30px;
      background: #ffc10a;
    margin-top: 250px;
}

.front3{
    mix-blend-mode: screen;
    width: 650px;
      height: 30px;
      background: #ffc10a;
    margin-top: 170px;
    margin-left: 70px;
}


.front4{
    mix-blend-mode: screen;
    width: 650px;
      height: 30px;
      background: #ffc10a;
    margin-top: 250px;
}


.front5{
    mix-blend-mode: screen;
    width: 650px;
      height: 30px;
      background: #ffc10a;
    margin-top: 300px;
}

.front6{
    mix-blend-mode: screen;
    width: 650px;
      height: 30px;
      background: #ffc10a;
    margin-top: 250px;
    margin-left: 100px;
}

.front7{
    mix-blend-mode: screen;
    width: 650px;
      height: 30px;
      background: #ffc10a;
    margin-top:200px;
    margin-left:200px;
}

.front8{
    mix-blend-mode: screen;
    width: 650px;
      height: 30px;
      background: #ffc10a;
    margin-top: 250px;
}

.front9{
    mix-blend-mode: screen;
    width: 650px;
      height: 30px;
      background: #ffc10a;
    margin-top: 230px;
    margin-left: 290px;
}

.front10{
    mix-blend-mode: screen;
    width: 650px;
      height: 30px;
      background: #ffc10a;
    margin-top: 300px;
    margin-left: 600px;
}
/*
.front11{
    mix-blend-mode: screen;
    width: 650px;
      height: 30px;
      background: #ffc10a;
    margin-top: 250px;
}

.front12{
    mix-blend-mode: screen;
    width: 650px;
      height: 30px;
      background: #ffc10a;
    margin-top: 250px;
}
*/


