 {
	box-sizing: border-box;
}

body {
	background: #DADADA;
}

.canvas {
	width: 900px;
	height: 556px;
	margin: 100px auto;
	background: white;
	position: relative;
	border: solid black 5px;
}

.vase{
    width: 250px;
      height: 280px;
   border-radius: 87px 87px 110px 110px;
-moz-border-radius: 87px 87px 110px 110px;
-webkit-border-radius: 87px 87px 110px 110px;
    background: #83aa5c;
    position: fixed;
  margin-top: 250px;
    margin-left: 140px;
}

.books {
    position: fixed;
}

#book1{
    width: 320px;
    height: 400px;
    background:#1b685a;
    margin-left: 420px;
    margin-top: 50px;
}

#book2{
    width: 500px;
    height: 100px;
    background:#f9ea9f;
    margin-left: 370px;
   
}

.sticks{
    position:fixed;

}

#stick1{
    width: 5px;
    height:150px;
    background: #b29165;
    margin-left: 400px;
    margin-top: 20px;
    transform: rotate(60deg);
   
}

#stick2{
    width: 5px;
    height:130px;
    background: #b29165;
    margin-left: 295px;
    margin-top: -54px;
    transform: rotate(40deg); 
}
/*

#stick3{
    width: 5px;
    height:130px;
    background: #b29165;
    margin-left: 295px;
    margin-top: -54px;
    transform: rotate(40deg); 
}
*/

.vasetop{
    width: 70px;
      height: 40px;
  border-radius: 16px 16px 0px 0px;
-moz-border-radius: 16px 16px 0px 0px;
-webkit-border-radius: 16px 16px 0px 0px;
    background: #83aa5c;
    position: absolute;
  margin-top: 215px;
    margin-left: 233px;
    z-index: 1;
}

.circles{
    position: absolute;
}

#circle1{
     width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #f7ef00;
      margin-top: 20px;
    margin-left: 460px;  
}

.figure{ 
    position: absolute; 
}



